body {
	
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid.wrapper {
    margin-top: 25px;
}
.box {
    
    padding: 5px 30px;
    background: #dadada;
}

h1.title {
    font-weight: bold;
    text-transform: uppercase;
    background: #49157d;
    color: white;
    text-align: center;
    padding: 11px 0px;
    margin-bottom: 0px;
}
.box div.col {
    padding: 14px 3px 12px 1px;
}

.buttons.center-block {
    text-align: center;
}
button.btn.btn-info i {
    margin-right: 5px;
}
button.btn.btn-info {
    width: 120px;
    margin: 1px 2px 16px 2px;
}
thead {
    background: #49157d;
    color: white;
    
}
table td {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}